*{
	text-decoration: none;
	box-sizing: border-box;
	color: #7FC7D9;
	font-family: 'Oswald', sans-serif;
	transition: all 0.8s ease;
	top:0;
	left: 0;
}
body{
	background-color: #070F2B;
}
div{/*
	border-style: solid;
	border-color: #ffffff;*/
}

/*12 grid*/
.container-fluid{width:100%; max-width: 2560px;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.screen{
	height: 100px;
}


/*menu*/
.menu-fixed{
	position: fixed;
}
.menu{
	top: 0;
	left: 0;
	background-color: #070F2B;
}
.menu div{
	padding: 1%;
	letter-spacing: 2px;
	text-align: center;
}
.menu .col-1:hover{
	background-color: #365486;
}

/*banner*/
.banner div{
	width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  overflow: hidden;
}
.banner div img{
	width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

/*members*/
.members .col-6{
	padding: 2% 5%;
	overflow: hidden;
}
.members .col-6 img{
	height: 300px;
}
.member-div{
	background-color: #ffffff;
	border-style: double;
}
.dd, .pp{
	overflow: hidden;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin: 2%;
}
.dd button{
	width: 200px;
	height: 50px;
	border-radius: 10px;
	background-color: #365486;
	border-style: none;
}
.dd button:hover{
	background-color: #00215E;
	cursor: pointer;
}


	.memberdiv{
		width: 48%;
		border-style: solid;
		border-color: #365486;
		border-radius: 10px;
		margin: 1%;
	}
/*media query*/
@media (max-width: 768px){
	[class*="col-"] {
  		width: 100%;
	}
	.pp{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.dd{
		padding: 1%;
	}
}